.myclass {
  height: 2px;
  width: 100%;
  left: 0;
  background-color: black;
  object-fit: contain;
  background-size: cover 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.headerh3 {
  font-size: 20px;
  color: black;
}

.blog_author {
  font-size: 20px;
  color: darkred;
}

.blog_title {
  font-size: 30px;
  color: darkblue;
}

.rich_text_own {
  width: 50%;
  color: darkblue;
}

.blog_time {
  padding: 80px;
  font-size: 15px;
  color: black;
}

.blog_content {
  font-size: 15px;
  color: black;
}

.upvoted_blog{
  color: green;
}

.downvoted_blog{
  color: red;
}
