@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.headerStyle {
    text-align: left;
    background: rgb(165, 59, 59);
    color: white;
}

.header-topbar {
    background-color: rgba(20,70,73, 1);
    width: 100%;
    height: 87px;
    box-shadow: 0 0 100px rgba(0,0,0,0.8);
    z-index: 2;
}

.app-logo {
    width: 116px;
    padding-left: 10px;
    display: inline;
}

.app-name {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(0, 255, 162, 1);
    display: inline;
    font-size: 40px;
    padding-left: 12px;
    padding-top: 26px;
}

.profile {
    position: absolute;
    display: inline;
    right: 0px;
    width: 250px;
    padding-top: 17px;
}

.dp {
    width: 60px;
    border-radius: 30px;
    display: inline;
}

.username {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(0, 255, 162, 1);
    display: inline;
    font-size: 25px;
    width: 180px;
    padding-left: 10px;
    padding-top: 18px;
}


.Navbar {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: rgb(17, 107, 95); 
    z-index: 1;
}

.tabs {
    position: relative;
    background-color: rgb(17, 107, 95); 
    height: 60px;
    width: 25%;
    display: inline-block;
    font-size: 25px;
    top: 25%;
}

.linkStyle {
    color: rgba(0, 255, 162, 1);
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    height: 60px;
}

